@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background-color: #0f172a;
  color: #f1f5f9;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}